<div class="container-fluid">    
    <form action="/api/podcasts/generate-script" method="POST" id="podcastChaptersForm" >
        
        <div class="row mb-3">
            <div class="col-8">
                <!-- podcast title -->   
                <div class="d-flex justify-content-between align-items-center">
                    <input type="text" 
                           class="form-control fs-2 border-0 shadow-none" 
                           name="title" 
                           placeholder="Untitled Podcast"
                           value="{{ podcast.title }}">
                    
                    <div>
                      <button type="button" class="btn btn-success" id="generatePodcastScriptBtn"
                        style="width:170px; background: linear-gradient(45deg, #28a745, #218838); border: none; color: #fff; box-shadow: 0 0 16px rgba(40, 167, 69, 0.8); transition: transform 0.3s ease-in-out;"
                        onmouseover="this.style.transform='scale(1.05)';"
                        onmouseout="this.style.transform='scale(1)';"
                      >
                      <i class="fa-solid fa-scroll"></i> Generate Script
                      </button>
                    </div>       
                  </div>

                <!-- description -->                
                <div class="mb-3" sty>
                    <textarea 
                      class="form-control fs-8 border-0 shadow-none" 
                      name="description" 
                      placeholder="Description of the podcast" 
                      rows="3" 
                      style="height: 80px; overflow:hidden;"
                      maxlength="300"            
                    > {{ podcast.description | trim }} </textarea>   

                    <div class="d-flex justify-content-end">
                        <small class="form-text text-muted">Max 300 characters</small>
                    </div>
                    
                </div>

                <!-- chapters -->
                <div class="mb-3">
                    <textarea 
                      class="form-control fs-5 border-0 shadow-none" 
                      name="content" 
                      placeholder="Chapter 1: Title&#10;     • Discuss about the main topics that you want to cover.&#10;     • You can generate the chapters using your choice of llm.&#10;&#10;Chapter 2: Title&#10;      • Discuss about other topics you want to cover.&#10;"
                      rows="3" 
                      style="height: 70vh;"          
                    >{{ podcast.chapters | trim }}</textarea>                                
                    
                </div>

            </div>

            <div class="col-4">
                <div class="card border-0" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Settings</h5>
                        <!-- <hr class="mb-4"> -->
                      
                        <div class="mb-4">
                            <label for="extraPrompt" class="form-label text-secondary">Customize prompt</label>
                            <textarea 
                              class="form-control" 
                              id="extraPrompt"
                              name="extra_prompt" 
                              placeholder="Additional prompt details:&#10;&#8226; Focus on a specific topic (e.g., &quot;topic name&quot;)&#10;&#8226; Focus on a specific audience (e.g., &quot;audience type&quot;)"
                              rows="3"
                              style="height: 100px;"
                            >{{podcast.settings.extra_prompt}}</textarea>
                          </div>
                        
                        <div class="mb-4">
                            <label for="llmModelSelect" class="form-label text-secondary">LLM Model for script generation</label>
                            <select class="form-select" name="llmModel" id="llmModelSelect" aria-label="Default select example">
                              <optgroup label="OpenRouter API">
                                <option value="deepseek/deepseek-r1:free" selected>deepseek/deepseek-r1</option>
                                <option value="deepseek/deepseek-chat:free">deepseek/deepseek-chat</option>
                                <option value="deepseek/deepseek-r1-distill-llama-70b:free">deepseek/deepseek-r1-distill-llama-70b</option>
                                <option value="google/gemini-2.0-flash-exp:free">google/gemini-2.0-flash-exp</option>
                                <option value="google/gemini-2.0-flash-lite-preview-02-05:free">google/gemini-2.0-flash-lite-preview-02-05</option>
                                <option value="google/gemini-2.0-pro-exp-02-05:free">google/gemini-2.0-pro-exp-02-05</option>
                                <option value="google/gemini-exp-1206:free">google/gemini-exp-1206</option>
                                <option value="google/gemini-2.0-flash-thinking-exp-1219:free">google/gemini-2.0-flash-thinking-exp-1219</option>
                                <option value="google/gemma-2-9b-it:free">google/gemma-2-9b-it</option>
                                <option value="google/learnlm-1.5-pro-experimental:free">google/learnlm-1.5-pro-experimental</option>
                                <option value="google/gemini-flash-1.5-8b-exp">google/gemini-flash-1.5-8b-exp</option>
                                <option value="google/gemini-2.0-flash-thinking-exp:free">google/gemini-2.0-flash-thinking-exp</option>
                                <option value="nvidia/llama-3.1-nemotron-70b-instruct:free">nvidia/llama-3.1-nemotron-70b-instruct</option>
                                <option value="qwen/qwen2.5-vl-72b-instruct:free">qwen/qwen2.5-vl-72b-instruct</option>
                                <option value="qwen/qwen-vl-plus:free">qwen/qwen-vl-plus</option>
                                <option value="meta-llama/llama-3.3-70b-instruct:free">meta-llama/llama-3.3-70b-instruct</option>
                                <option value="meta-llama/llama-3.2-11b-vision-instruct:free">meta-llama/llama-3.2-11b-vision-instruct</option>
                                <option value="meta-llama/llama-3-8b-instruct:free">meta-llama/llama-3-8b-instruct</option>
                                <option value="mistralai/mistral-7b-instruct:free">mistralai/mistral-7b-instruct</option>
                                <option value="mistralai/mistral-nemo:free">mistralai/mistral-nemo</option>
                                <option value="mistralai/mistral-small-24b-instruct-2501:free">mistralai/mistral-small-24b-instruct-2501</option>
                                <option value="openchat/openchat-7b:free">openchat/openchat-7b</option>
                                <option value="microsoft/phi-3-mini-128k-instruct:free">microsoft/phi-3-mini-128k-instruct</option>
                                <option value="huggingfaceh4/zephyr-7b-beta:free">huggingfaceh4/zephyr-7b-beta</option>
                                <option value="cognitivecomputations/dolphin3.0-r1-mistral-24b:free">cognitivecomputations/dolphin3.0-r1-mistral-24b</option>
                                <option value="cognitivecomputations/dolphin3.0-mistral-24b:free">cognitivecomputations/dolphin3.0-mistral-24b</option>
                              </optgroup>
                            </select>
                            
                            
                        </div>                             
                        
                        <div class="mb-4">
                            <label for="numSpeakers" class="form-label d-flex justify-content-between text-secondary">
                              Number of Speakers
                              <span id="numSpeakersDisplay" class="badge bg-success d-flex align-items-center justify-content-center" style="width: 1.5rem; height: 1.5rem;">{{podcast.settings.num_speakers}}</span>
                            </label>
                            <input type="range" 
                                   class="form-range" 
                                   name="num_speakers" 
                                   min="2" 
                                   max="4" 
                                   step="1" 
                                   id="numSpeakers" 
                                   value="{{podcast.settings.num_speakers}}"
                                   oninput="document.getElementById('numSpeakersDisplay').innerText = this.value">
                          </div>

                        <div class="mb-4">
                            <label for="podcastLength" class="form-label d-flex justify-content-between text-secondary">
                                Podcast Length
                                <span id="podcastLengthDisplay" class="badge bg-success d-flex align-items-center justify-content-center" style="min-width: 3rem; height: 2rem;">{{podcast.settings.podcast_len}} min</span>
                            </label>
                            <input type="range" 
                                    class="form-range" 
                                    name="podcast_len" 
                                    min="5" 
                                    max="30" 
                                    step="5" 
                                    id="podcastLength" 
                                    value="{{podcast.settings.podcast_len}}"
                                    oninput="document.getElementById('podcastLengthDisplay').innerText = this.value+ ' min'">
                        </div>

                        <input type="hidden" name="podcast_uuid" value="{{ podcast.id }}">
                    </div>
                </div>
            </div>
        </div>
    </form>     
</div>       
