
<div class="row">

    <!-- scipt display section -->
    <div class="col-8">
      
        <h4>Script</h4>
        <hr>

        <div class="row">

            <div class="col-2">
                <strong>Speaker 1</strong>
            </div>

            <div class="col-10">
                <p>Today we’re discussing π0 – a groundbreaking robot policy combining vision-language models with flow matching! Let’s start with</p>
            </div>

        </div>
    </div>

    <!-- audio player section -->
    <div class="col-4">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
</div>