<!-- Sidebar -->
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 vh-100 sidebar">
    <a href="/" class="d-flex flex-column p-4 pb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fw-bold" style="font-size: 1.8rem; background: linear-gradient(45deg, #00c853 0%, #00e676 50%, #64dd17 100%);background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-text-fill-color: transparent;">
          Open
        </span>
        <span class="fw-bold" style="margin-left: 40px; font-size: 1.8rem; background: linear-gradient(45deg, #00c853 0%, #00e676 50%, #64dd17 100%); background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-text-fill-color: transparent;">
            PodCraft
        </span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item w-100">
            <a href="/" class="nav-link align-middle px-3">
              <i class="fas fa-podcast fs-4"></i> 
              <span class="ms-2 d-none d-sm-inline">Podcasts</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/voices" class="nav-link align-middle px-3">
              <i class="fas fa-microphone fs-4"></i> 
              <span class="ms-2 d-none d-sm-inline">Voices</span>
            </a>
        </li>
    </ul>                    
</div>